.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  background-image: url("wallpaper.jpeg");
  height: 100%;
  width: 100%;
}
.form{
background-color: white;
  font-size: x-large;
  border: 2px solid #6f7273 ;
  border-bottom: 5px solid #2d555e;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:100px;
  margin-left:300px;
  margin-right: 300px;
  margin-top: 100px;
  width:500px;
  
}


.loginhere{
  border: 2px solid black ;
  background-color:#297bd9;
  white-space: nowrap;
  color: white;
  text-align:center;
  text-align: center;
  border-radius: 10px;
  margin-left: 0%;
  padding: 15px;
  font-weight: 900;
  font-size: large;

}
.link{
  border: 2px solid black ;
  background-color:#297bd9;
  color: white;
  border-radius: 10px;
  margin-left: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  width: 200px;
  font-weight: 900;
  font-size: large;
}
.both{
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  :hover{
    background-color:#426cf5;
  }
}
@media (min-width: 347px){
  .form{
    font-size: small;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 5%;
    width: 350px;
  
  }
  .main{
    height: 100px;
    width: 100%;
  }
}
@media (min-width: 400px){
  .form{
    font-size: x-small;
    margin-left: 0%;
    padding-left: 5%;
  }
}
@media (min-width:600px){
  .form{
    font-size: small;
  }
}
@media (min-width:800px){
  .form{
    font-size: medium;
  }
}
